[Boto]

kinesis =
    endpoint_url = http://localhost:4568

dynamodb =
    endpoint_url = http://localhost:4569

dynamodb streams =
    endpoint_url = http://localhost:4570

elasticsearch =
    endpoint_url = http://localhost:4571

s3 =
    endpoint_url = http://localhost:4572

firehose =
    endpoint_url = http://localhost:4573

lambda =
    endpoint_url = http://localhost:4574

sns =
    endpoint_url = http://localhost:4575

sqs =
    endpoint_url = http://localhost:4576

redshift =
    endpoint_url = http://localhost:4577

elasticsearch =
    endpoint_url = http://localhost:4578

ses =
    endpoint_url = http://localhost:4579

route53 =
    endpoint_url = http://localhost:4580

cloudformation =
    endpoint_url = http://localhost:4581

cloudwatch =
    endpoint_url = http://localhost:4582

ssm =
    endpoint_url = http://localhost:4583